// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.2\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "enabled": "false",
  "port": "8080",
  "googleMapApiDomain": ".com",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "entityIconSetName": "2D",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.2.4"
}