# Configuration file

general {
    # % chance that a crafting table will take damage on use (max damage = 3, better tables scale relatively) [range: 0.01 ~ 100.0, default: 10.0]
    S:"Damage Chance"=5

    # Hides the update notifications [default: false]
    B:"Hide Updates"=true

    # Enables tables to retain held items [default: false]
    B:"Hold Items"=true
}


