# Configuration file

clientconfig {
    # How long (in ticks) it takes before control surfaces try to return to their natural angle.  
    # This is not used when using a joystick.
    I:ControlSurfaceCooldown=4

    # Is the starter enabled? 
    # If not, players must hit propellers to start them
    B:ElectricStart=true

    # Credits screen is displayed if this is the first run.
    B:FirstRun=false

    # How much planes will try to correct themselves when they get a sync packet.  
    # This is intended to gradually sync airborne planes so they don't get out of the sync threshold and get force-synced.
    D:IncrementalMovement=0.01

    # Dead zone for joystick axis.  
    # MFS will always use the greater of this value and the value provided by the computer.
    D:JoystickDeadZone=0.03

    # Factor by which joystick inputs are multiplied.  
    # This controls how quickly the control surfaces change.
    I:JoystickForceFactor=15

    # Does altimiter read zero at Y=64 instead of Y=0?
    B:SeaLevelOffset=false

    # How many blocks or degrees out-of-sync a plane can be on a client before it will be forced to re-sync.  
    # Higher values cause less jittering but increase the chance that an entity can get out of sync.  
    # You can keep this value as it is, but consider making it lower if you are on a server with fast planes.
    I:SyncThreshold=5

    # Whether or not the throttle can be put to zero and kill the engine.  
    # Only valid for joysticks.
    B:ThrottleKills=false
}


fuels {
    D:biodiesel=0.0
    D:blood=0.0
    D:canolaoil=0.0
    D:cloud_seed=0.0
    D:cloud_seed_concentrated=0.0
    D:concrete=0.0
    D:creosote=0.0
    D:crystaloil=0.0
    D:empoweredoil=0.0
    D:ender_distillation=0.0
    D:ethanol=0.0
    D:fire_water=0.0
    D:honey=0.0
    D:hootch=0.0
    D:hot_spring_water=0.0
    D:hydrogen=0.0
    D:lava=1.0
    D:liquid_sunshine=0.0
    D:mercury=0.0
    D:nitrogen=0.0
    D:nutrient_distillation=0.0
    D:oil=0.0
    D:oxygen=0.0
    D:plantoil=0.0
    D:poison=0.0
    D:potion=0.0
    D:rocket_fuel=0.0
    D:rocketfuel=0.0
    D:sand=0.0
    D:steam=0.0
    D:syngas=0.0
    D:vapor_of_levity=0.0
    D:water=0.0
    D:witchwater=0.0
    D:xpjuice=0.0
}


general {
    # Factor for damage caused by plane crashes.
    D:CrashDamageFactor=1.0

    # Factor times which engines use fuel.  
    # Change this if you think engines use fuel too fast or slow.
    D:FuelUsageFactor=1.0

    # Any item that contains these words will be counted as heavy (double mass) when considering plane mass.  
    # Change and tweak to your liking.
    S:HeavyItems=diamond, iron, gold, coal, ore, stone

    # Factor to apply to plane movement.  
    # 1 is the realistic value, but this makes planes move too fast for Minecraft. Adjust with caution.
    D:PlaneSpeedFactor=0.5

    # Factor for damage caused by a propeller.
    D:PropellerDamageFactor=1.0

    # How often (in ticks) planes sync themselves.  
    # This will control how often the server sends a sync packet with plane information.  
    # Note that just because the server sends a packet doesn't mean that the client will sync.  
    # That depends on the client's PositionThreshold and IncrementalMovement value.
    I:SyncDelay=5
}


joystick {
    I:Brake=999
    I:CamLock=999
    I:ChangeView=999
    I:FlapsDown=999
    I:FlapsUp=999
    S:JoystickName=
    I:Lights=999
    I:LookDirectional=999
    I:LookDown=999
    I:LookLeft=999
    I:LookRight=999
    I:LookUp=999
    I:Mod=999
    I:Pitch=999
    D:Pitchmaxtravel=1.0
    D:Pitchmintravel=-1.0
    I:Roll=999
    D:Rollmaxtravel=1.0
    D:Rollmintravel=-1.0
    I:Starter=999
    I:Throttle=999
    D:Throttlemaxtravel=1.0
    D:Throttlemintravel=-1.0
    I:Yaw=999
    D:Yawmaxtravel=1.0
    D:Yawmintravel=-1.0
    I:ZoomIn=999
    I:ZoomOut=999
}


keyboard {
    I:BrakeKey=48
    I:CamLockKey=157
    I:FlapsDownKey=35
    I:FlapsUpKey=21
    I:LightsKey=49
    I:ModKey=54
    I:PitchDownKey=17
    I:PitchUpKey=31
    I:RollLeftKey=30
    I:RollRightKey=32
    I:StarterKey=50
    I:ThrottleDownKey=37
    I:ThrottleUpKey=23
    I:YawLeftKey=36
    I:YawRightKey=38
    I:ZoomInKey=201
    I:ZoomOutKey=209
}


