# Configuration file

gameplay {
    # Allow infinite placing of Supply Chests?
    B:allowInfiniteSupplyChests=false

    # Allow player to use their own schematics (in MP)
    B:allowPlayerSchematics=false

    # Always render Citizen's name tag?
    B:alwaysRenderNameTag=true

    # Block mining Delay modifier, taken into account to determine how long a block need to be successfully mined
    I:blockMiningDelayModifier=1000

    # How many tick between placing blocks for the builder?
    I:builderBuildBlockDelay=0

    # Does Builder have infinite resources?
    B:builderInfiniteResources=false

    # Players get RespawnCitizensCommand
    B:canPlayerRespawnCitizensCommand=true

    # Players get AddOfficerCommand
    B:canPlayerUseAddOfficerCommand=true

    # Players get CitizenInfoCommand
    B:canPlayerUseCitizenInfoCommand=true

    # Players get DeleteColonyCommand
    B:canPlayerUseDeleteColonyCommand=true

    # Players get KillCitizensCommand
    B:canPlayerUseKillCitizensCommand=true

    # Players get ListCitizensCommand
    B:canPlayerUseListCitizensCommand=true

    # Players can use the MC TP Command or not
    B:canPlayerUseRTPCommand=true

    # Players get RefreshColonyCommand
    B:canPlayerUseRefreshColonyCommand=false

    # Players get ShowColonyInfoCommand
    B:canPlayerUseShowColonyInfoCommand=true

    # Chat Frequency (seconds)
    I:chatFrequency=30

    # Citizen respawn interval in seconds (range: 10 ~ 600, default: 30)
    I:citizenRespawnInterval=600

    # Does Deliveryman have infinite resources?
    B:deliverymanInfiniteResources=true

    # Display in-development features which do not work and may break your game
    B:development=false

    # Enable the automatic colony protection?
    B:enableColonyProtection=true

    # Blocks players should be able to interact with inside any colony.
    S:freeToInteractBlocks <
        block:dirt
        0 0 0
     >

    # Ignore the schematic from the jar file
    B:ignoreSchematicsFromJar=false

    # Limit the Colony to 1 Warehouse per Colony?
    B:limitToOneWareHousePerColony=true

    # Limits the number of checked blocks per builder update
    I:maxBlocksCheckedByBuilder=1000

    # How many chached schematics the server can store before deleting them
    I:maxCachedSchematics=100

    # Maximum number of citizens
    I:maxCitizens=12

    # Distance from spawn in all directions
    I:maxDistanceFromWorldSpawn=8000

    # Required Op level to execute commands
    I:opLevelForServer=3

    # Should builder place construction tape
    B:placeConstructionTape=true

    # Allow crafting of a Supply Chest
    B:supplyChests=true

    # Time until the next teleport in seconds
    I:timeBetweenTeleport=120

    # Empty space between town hall boundaries
    I:townHallPadding=20

    # Turn off explosions inside the colonies radius?
    B:turnOffExplosionsInColonies=false

    # Set wether workers work in rain regardless of hut level
    B:workersAlwaysWorkInRain=false

    # Colony size (radius)
    I:workingRangeTownHall=200
}


names {
    # Female First Names
    S:femaleFirstNames <
        Mary
        Patricia
        Linda
        Barbara
        Elizabeth
        Jennifer
        Maria
        Susan
        Margaret
        Dorothy
        Lisa
        Nancy
        Karen
        Betty
        Helen
        Natasha
        Ashley
        Claire
        Paige
        Camaryn
     >
    S:freeToInteractBlocks <
        block:dirt
        0 0 0
     >

    # Last Names
    S:lastNames <
        Smith
        Johnson
        Jones
        Williams
        Brown
        Miller
        Wilson
        Taylor
        Jackson
        White
        Harris
        Robinson
        Clark
        Wallgreen
        Allen
        Mardle
        Jobs
        Trump
        Cena
     >

    # Male First Names
    S:maleFirstNames <
        Jim
        John
        James
        Tom
        Michael
        William
        David
        Jared
        Dan
        Mark
        Richard
        Charles
        Joseph
        Christopher
        Paul
        Mark
        George
        Steven
        Peter
        Henrik
        Rory
        Bob
     >
}


pathfinding {
    # Render pathfinding results for debugging purposes (SSP only)
    B:debugDraw=false

    # Debug output verbosity of pathfinding (0=none, 1=results, 2=live work)
    I:debugVerbosity=0

    # Maximum number of threads to use for pathfinding.
    I:maxThreads=2
}


